body {
  // font-family: "Clear Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
}
hr {
  margin: 0;
  padding: 0;

  height: 1px;
  color: #e8edf2;
}
.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  margin-top: 30px;

  font-size: 36px;
  text-align: center;

  color: #3a4047;
}
