footer {
  position: relative;
  padding: 30px 0;

  background: #f7f7f7;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.copyright {
  margin-top: 20px;

  font-size: 14px;
  line-height: 16px;

  color: #3a4047;
}
.logo-copyright {
  display: flex;
  flex-direction: column;
}
.worktime-footer {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.worktime-footer-descr {
  font-size: 14px;
  line-height: 21px;
  color: #3a4047;
}

.footer-time {
  margin-top: 20px;

  font-size: 14px;

  color: #3a4047;
}
.site-nav-footer {
  display: flex;
}

.nav-footer-list-item {
  font-size: 14px;
  line-height: 1.5em;
  text-decoration-line: underline;

  color: #3a4047;
}

.footer-nav-list1 {
  margin-right: 67px;

  & li {
    margin-bottom: 18px;
  }

  & li:last-child {
    margin-bottom: 0;
  }
}

.footer-nav-list2 {
  & li {
    margin-bottom: 18px;
  }

  & li:last-child {
    margin-bottom: 0;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.company {
  display: flex;
  align-items: center;

  justify-content: flex-end;

  margin-top: auto;

  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;

  color: #3a4047;
}

.contats-from-nav {
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.callme {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-70%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 108px;
  height: 108px;

  background: #1ab0ce;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border: solid #1ab0ce;
  border-radius: 100%;
  cursor: pointer;

  & span {
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    margin-top: 9px;

    color: #ffffff;
  }
}
// МОДАЛКА ФУТРЕА
.open-modal-footer {
  border-radius: 100%;
  border: none;
  outline: none;

  padding: 0;
  fill: #3a4047;
  cursor: pointer;

  margin-left: 6px;

  & svg {
    transform: rotate(180deg);
  }

  & svg:hover {
    fill: #000;
  }
}
.contacts-modal-footer {
  position: absolute;
  display: none;
  padding: 31px 27px;
  z-index: 1;
  background-color: #fff;
  transform: translate(15px, -115%);
  filter: drop-shadow(0px 4px 45px rgba(0, 0, 0, 0.15));
}

.is-open {
  display: block;
}

.romb-footer {
  position: absolute;
  width: 27px;
  height: 27px;
  z-index: 2;

  background-color: #fff;

  bottom: 0;
  right: 0;

  transform: translateX(10%) rotate(45deg) translateY(70%);
}
